.dealer-list {
  margin-top: 80px;
  margin-bottom: 80px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 38px 40px;
  }

  &__more {
    margin-top: 65px;

    button {
      background-color: black;
      color: white;
      width: 130px;
      height: 48px;
      font-weight: 700;
      transition: 0.3s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }
    }
  }
}
