.mobile-banner {
  &__container {
    position: relative;
    width: 100%;

    &__banner {
      width: 100%;
      height: 400px;
      background: url("../../assets/mobile-banner.png") no-repeat right;

      @media screen and (max-width: 1024px) {
        background-position: top;
        background-size: cover;
        height: 500px;
      }
    }
  }

  &__content {
    position: absolute;
    box-sizing: border-box;
    width: 50%;
    height: 400px;
    background-image: linear-gradient(to right, black 50%, rgba(0, 0, 0, 0));
    padding: 32px 60px;
    color: white;

    @media screen and (max-width: 1024px) {
      background-position: top;
      height: 500px;
      width: 100%;
    }

    h1 {
      margin: 0;
      font-size: 3em;
    }
  }

  &__button {
    display: flex;

    button {
      display: block;
      width: 153px;
      height: 45px;
      border: none;
      cursor: pointer;
    }

    &__appstore {
      background: url("../../assets/button-appstore.png") no-repeat center;
      margin-right: 12px;
    }

    &__playstore {
      background: url("../../assets/button-playstore.png") no-repeat center;
    }
  }
}
