.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 80px;
  top: 0;
  background-color: black;
  color: white;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--primary-accent-color);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 24px;
  }

  &__main {
    flex: 0 0 50%;
  }
}
