.service-list {
  ul {
    padding: 0;
    margin: 10px 0;

    li {
      list-style: none;
      display: inline;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      color: var(--secondary-text-color);
      opacity: 0.5;

      &:after {
        content: "\2022";
        margin: 0 5px;
      }

      &:last-child:after {
        content: none;
      }
    }
  }
}
