:root {
  --primary-text-color: #9b9b9b;
  --secondary-text-color: #4c4c4c;
  --third-text-color: #4c4c4c;
  --primary-accent-color: #da291c;
}

body {
  margin: 0;
  font-family: "Poppins", "Roboto", "Segoe UI", -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
